<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <!-- <link rel="stylesheet" href="about.css"> -->
    <%= stylesheet_link_tag 'about.css' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Sansita" rel="stylesheet">
    <script src="https://use.fontawesome.com/70f83376e8.js"></script>
</head>
<body>

<div class="box">
    <button class="btn btn-default btn-large back"><i class="fa fa-glide-g" aria-hidden="true"><%= link_to 'Home', root_path %></i></button>
    <h3>July 27th 2017</h3>
    <h1>This Is My First Entry</h1>
        <p class="openBorder">Meh typewriter venmo, crucifix plaid kinfolk synth bespoke master cleanse live-edge jianbing cardigan helvetica. Salvia microdosing tumblr cliche. Coloring book YOLO vegan narwhal VHS, keytar activated charcoal woke kogi pug occupy twee hoodie. Tilde neutra edison bulb whatever, fap slow-carb seitan. Franzen shabby chic chia keytar, pickled master cleanse crucifix intelligentsia selvage. Food truck kickstarter brooklyn fap vaporware edison bulb. Flannel keytar tbh iceland chicharrones, bespoke williamsburg tumeric 90's snackwave small batch before they sold out polaroid.</p>
        <p>Brunch fam hammock disrupt irony mustache swag DIY street art food truck. Pinterest quinoa keytar flannel brunch, PBR&B helvetica. Paleo authentic cronut green juice viral. Activated charcoal truffaut af migas twee freegan, banjo retro four loko. Seitan pickled succulents hella franzen twee. Hot chicken plaid woke salvia pinterest blog, before they sold out kogi mustache narwhal prism +1 beard. Bitters keytar hot chicken bushwick, 8-bit truffaut polaroid meh chicharrones waistcoat.</p>
        <p>Cred post-ironic hot chicken, celiac cornhole bushwick helvetica hashtag ugh sustainable hoodie. Meditation helvetica lomo pabst. Mustache next level messenger bag copper mug, crucifix succulents pok pok. 3 wolf moon organic sriracha vinyl. VHS food truck forage glossier, mixtape offal salvia. Banh mi normcore chillwave, pabst jean shorts pork belly unicorn brooklyn four loko paleo beard bushwick lumbersexual. Organic narwhal street art migas tilde, fam ennui air plant truffaut put a bird on it.</p>
        <hr class="top" />

    <h3>August 23rd 2017</h3>

    <h1>This Is My Second Entry</h1>
        <p class="openBorder">Normcore chambray typewriter artisan stumptown, tumblr deserunt single-origin coffee everyday carry magna DIY consectetur exercitation dolor. Unicorn dolore direct trade plaid, flexitarian taxidermy iPhone knausgaard YOLO man braid 8-bit post-ironic. Fam fanny pack mustache in, YOLO seitan irure taxidermy meggings church-key occaecat man braid. Chambray brooklyn twee whatever banjo bushwick. Occaecat aliqua quinoa accusamus vero, synth laborum direct trade godard viral dolor yr consequat enamel pin kale chips. Chia flannel proident tote bag, schlitz food truck hell of. Craft beer woke banh mi offal post-ironic eu, aesthetic polaroid affogato four dollar toast tofu.</p>
        <p>3 wolf moon synth literally, meh mumblecore fashion axe pop-up nihil VHS. Roof party helvetica vape ramps post-ironic, lumbersexual paleo cliche selfies. Echo park laborum aute, shoreditch ex chillwave hashtag ea wolf blog. Viral vexillologist affogato, vice bicycle rights photo booth fingerstache skateboard irony. Hoodie gochujang master cleanse est venmo. Unicorn blue bottle gentrify, ea umami duis shabby chic. Tacos umami non vexillologist jean shorts pour-over.</p>
        <p>Four dollar toast chillwave bitters twee, asymmetrical lyft wayfarers viral irure quis beard irony everyday carry live-edge four loko. Blue bottle iPhone sunt ex, beard street art chicharrones tumblr. Ugh freegan authentic crucifix. Selfies exercitation lo-fi kombucha. Voluptate keffiyeh pork belly, officia tbh sartorial id cray street art waistcoat. Dolor minim butcher, fashion axe ullamco occaecat pour-over esse pop-up keffiyeh tilde. 3 wolf moon plaid pour-over brunch.</p>
</div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

</body>
</html>
